{% extends "base.html" %}

{% block main_content %}

{# templates/index.html #}
    <main>
        <article>
            {{post_macros::page_header(title=section.title)}}
                {{ section.content | safe }}
                <section class="body">
                  <h3>News! Fresh off the press 🖨️🎉!</h3>
                  Non-exhaustive list of recent posts, sorted by the last update.
                  <h5>Journals 📚</h5>
                  {% set journals = get_section(path="journals/_index.md") %}
                  {% set latest_journals = journals.pages | sort(attribute="date") | reverse | slice(start=0, end=5) %}
                  <ul>
                    {% for post in latest_journals %}
                      <li>
                        <a href={{ post.permalink | safe }}>
                            {{ post.date | date(format="%Y-%m-%d") }} {{ post.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                  <h5>Blog Posts 📝</h5>
                  {% set journals = get_section(path="blog/_index.md") %}
                  {% set latest_journals = journals.pages | sort(attribute="updated") | reverse | slice(start=0, end=5) %}
                  <ul>
                    {% for post in latest_journals %}
                      <li>
                        <a href={{ post.permalink | safe }}>
                            {{ post.date | date(format="%Y-%m-%d") }} {{ post.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </section>
        </article>
    </main>

{% endblock main_content %}
